[submodule "fonts/.fonts/powerline-fonts"]
	path = fonts/.fonts/powerline-fonts
	url = http://github.com/Lokaltog/powerline-fonts
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/mjcarroll/prezto
[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle
