# Input config, especially for VI input

set editing-mode vi

# Completion Options
set page-completions on
set completion-ignore-case off
set completion-query-items 200
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on
set echo-control-characters off

# Useful stuff for UTF-8
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    "\C-k": kill-whole-line
    "\ep": yank-last-arg

    set keymap vi-insert
    "\C-l": clear-screen
    "\C-k": kill-whole-line
    "\C-w": backward-kill-word
    # auto-complete from the history
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\ep": yank-last-arg
$endif

# IPython needs this to appear at the bottom of the
# file for clear-screen to work
set keymap vi
